*{

  box-sizing: border-box;
}

h1, .menu-name {
  font-family: Papyrus, "Lucida Handwriting", sans-serif;

}

.menu-pic {
  height: 200px;
  width: auto;
  border-radius: 10%;
  border: 3px solid black;
  margin: 10px;
  transition: 100ms;

}

.menu-pic:hover {
  height: 210px;
  width: auto;
  border: 3px solid blue;
}

.food-pic {
  height: 200px;
  width: auto;
  border-radius: 10%;
}

p {
  /* margin-left: 50px;
  margin-right: 100px; */
  /* flex: 1; */
 
} 

.pic-container, .title-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



